html, body {
    background-color: #EEEEEE;
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

#title {
    margin-top: 0;
}

header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding-top: 15px;
    box-sizing: border-box;
}

/* ロゴをblock要素にすることで、text alignで右よせにならないようにした。 */

/* .Logo{
    margin-top: 15px;
} */

.Logo {
    display: flex;
    margin-left: 50px;
}

.Logo img {
    height: 30px;
}

.Logo p {
    color: #BAD3FF;
    margin-left: 27px;
    margin-top: 5px;
}

.record_post {
    background: linear-gradient(to right, #0F72BD 20%, #3BCDFE);
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 100px;
    color: #FFFFFF;
    box-shadow: -4px 4px 4px 4px #CCF1FF;
    cursor: pointer;
}

/* ------------------------------------------------------------------ */

/* ここから中身/content */

.Content {
    margin-top: 20px;
    /* display: flex; */
}

.Split_left {}

.Time ul {
    display: flex;
}

.Time li {
    list-style: none;
    background-color: #FFFFFF;
}

/* Today 3 hour のように要素を縦に並べる */

.Time li div {
    display: flex;
    flex-direction: column;
}

/* 3の位置を少し右によせ真ん中にもってくる */

.Today_actual_hour {
    margin-left: 13px;
    font-size: 26px;
    font-weight: bold;
}

.Actual_Month {
    margin-left: -1px;
    font-weight: bold;
    font-size: 24px;
}

.Actual_Today_hours {
    margin-left: -7px;
    font-weight: bold;
    font-size: 22px;
}

.Today_hour {
    margin-left: 4px;
    font-weight: 500;
    color: #BAD3FF;
}

.Monthly_hour {
    margin-left: 4px;
    margin-top: 4px;
    font-weight: 500;
    color: #BAD3FF;
}

.Total_hours {
    margin-left: 4px;
    margin-top: 7px;
    font-weight: 500;
    color: #BAD3FF;
}

.Today {
    border: solid 1px;
    border: solid 1px #FFFFFF;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Month {
    margin-left: 20px;
    border: solid 1px #FFFFFF;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Total {
    margin-left: 20px;
    border: solid 1px #FFFFFF;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.today {
    font-weight: bold;
    color: #2C7CFF;
}

.month {
    font-weight: bold;
    color: #2C7CFF;
}

.total {
    font-weight: bold;
    color: #2C7CFF;
}

/* -------------------------------------------------------------------------- */

/* Histgram */

.Hist_gram {
    margin-top: 20px;
    margin-left: 42px;
}

.Hist_gram img {
    width: 500px;
    height: 364px;
}

/* ------------------------------------------------------------------------ */

/* 学習言語と学習コンテンツ */

/* .Split_rigth{

    display: table-cell;
    width: 50%;

} */

.Study {
    display: flex;
    /* margin-left: 98px; */
    flex-grow: 1;
    margin-left: 20px;
}

.Language_studied {
    border: solid 1px #FFFFFF;
    border-radius: 15px;
    background-color: #FFFFFF;
    height: 500px;
    width: 310px;
}

.Language_studied p {
    margin-left: 20px;
}

.Contents_studied {
    border: solid 1px #FFFFFF;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-left: 20px;
    height: 500px;
    width: 310px;
}

.Contents_studied p {
    margin-left: 20px;
}

/* ----------------------------------------------------------------------- */

.Date {
    text-align: center;
    font-weight: bold;
}

.Date span {
    color: #2C7CFF;
}

/* ------------------------------------------------------------------- */

/* モーダル */

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    background-color: #FFFFFF;
    border-radius: 40px;
    width: 900px;
    height: 500px;
}

.modal_content {
    width: 900px;
}

.modal_content{
    display: flex;
}

.modal_contents_left_side {
    margin-left: 56px;
    margin-top: 50px;
}

.modal_overlay {
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(68, 68, 68, 0.8);
}

.input_day_for_study {
    background-color: #F5F5F8;
    border-radius: 8px;
    border-color: transparent;
    height: 42px;
    width: 374px;
}

.contents_study{
    
    margin-top: 15px;
    
}

.contents_study input[type="checkbox"]+label:before{

    border-radius: 50%;    

}

.contents_study div{
    margin-top: 10px;
}

.contents_study div span{
    border-radius: 15px;
    border-color: transparent;
    background-color:#F5F5F8;
    width: 200px;
}



.languages_study{
    margin-top: 20px;
}

.languages_study div span{
    border-radius: 15px;
    border-color: transparent;
    background-color:#F5F5F8;
    width: 200px;
}


/* 右側 */

.modal_contents_right_side {
    margin-right: 56px;
    margin-left: 40px;
    margin-top: 50px;
}

.input_study_time{

    background-color: #F5F5F8;
    border-radius: 8px;
    border-color: transparent;
    height: 42px;
    width: 374px;
}

.twitter input{
    width: 374px;
    height: 200px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #F5F5F8;

}


/* 記録・投稿- modal */

.modal_record_post {
    background: linear-gradient(to right, #0F72BD 20%, #3BCDFE);
    border-radius: 100px;
    color: #FFFFFF;
    box-shadow: -4px 4px 4px 4px #CCF1FF;
    cursor: pointer;
}

.span_contents_stud{
    margin-top: 15px;
}